.btn {
    line-height:1;
    border-radius:0px;
}

/*更改总体布局样式*/
.page-body {
    padding:0px;
    margin-top:-2px;
}
.widget-header {
    box-shadow: none;
    background-color: #fbfbfb;
    padding-right:15px;
}
.widget-header.bordered-bottom{
    border:0px;

}
.widget-header > .widget-caption {
    padding-left:12px;
    padding-top:14px;
}
    .widget-header hr {
        margin-bottom: 0px;
        background-color: #fbfbfb;
        height:1px;
    }
.widget-buttons {
    top:15px;
    right:15px;
}
/*表格样式修正*/
.dataTables_paginate {
    text-align: right;
    padding: 5px 0px;
}
.dataTables_info {
    padding:5px 0px;
}

/*更改bootstrap样式*/
.form-group {
    margin-bottom: 5px;
}
.form-control {
    border-radius:0px;
}

/*弹出编辑框样式*/
.control-label {
    margin-top: 5px;
}
.Edit-Footer {
    position:absolute;
    height:40px;
    left:0px;
    right:0px;
    bottom:0px;
    text-align:center;
    padding:6px 0px;
    border-top:1px solid #ddd;
}

input:-moz-placeholder {
    color:green;
}

/*验证样式修改*/
.form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 0;
    width: 25px;
    z-index: 2;
}
.valdiv {
    position: absolute;
    top: 35px;
    width: 90%;
    z-index: 998;
    display: none;
    background-color: #fffafa;
    border: 1px solid #f8bbbb;
    padding-left: 4px;
}

/*常见样式*/
.text-left {
    text-align: left;
}
.text-right {
    text-align:right;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-btm-5 {
    padding-bottom:5px;
}

label {
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
}

label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}

.btn {
    line-height:1;
    border-radius:0px;
}

/*更改总体布局样式*/
.page-body {
    padding:0px;
    margin-top:-2px;
}
.widget-header {
    box-shadow: none;
    background-color: #fbfbfb;
    padding-right:15px;
}
.widget-header.bordered-bottom{
    border:0px;

}
.widget-header > .widget-caption {
    padding-left:12px;
    padding-top:14px;
}
    .widget-header hr {
        margin-bottom: 0px;
        background-color: #fbfbfb;
        height:1px;
    }
.widget-buttons {
    top:15px;
    right:15px;
}
/*表格样式修正*/
.dataTables_paginate {
    text-align: right;
    padding: 5px 0px;
}
.dataTables_info {
    padding:5px 0px;
}

/*更改bootstrap样式*/
.form-group {
    margin-bottom: 5px;
}
.form-control {
    border-radius:0px;
}

/*弹出编辑框样式*/
.control-label {
    margin-top: 5px;
}
.Edit-Footer {
    position:absolute;
    height:40px;
    left:0px;
    right:0px;
    bottom:0px;
    text-align:center;
    padding:6px 0px;
    border-top:1px solid #ddd;
}

input:-moz-placeholder {
    color:green;
}

/*验证样式修改*/
.form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 17px;
    text-align: center;
    top: 0;
    width: 25px;
    z-index: 2;
}
.valdiv {
    position: absolute;
    top: 35px;
    width: 90%;
    z-index: 998;
    display: none;
    background-color: #fffafa;
    border: 1px solid #f8bbbb;
    padding-left: 4px;
}

/*常见样式*/
.text-left {
    text-align: left;
}
.text-right {
    text-align:right;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-btm-5 {
    padding-bottom:5px;
}

label {
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
}

label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}

/*强制文本在一行内显示*/
.text_inline {
    margin-bottom: 0px;
    white-space: nowrap; /*强制文本在一行内显示*/
    overflow: hidden; /*溢出内容为隐藏*/
    text-overflow: ellipsis; /*文本溢出时显示省略标记*/
}
 /*禁止选中文本*/
.text_unselect {
        cursor: default;
        -moz-user-select: none; /*火狐*/
        -webkit-user-select: none; /*webkit浏览器*/
        -ms-user-select: none; /*IE10*/
        -khtml-user-select: none; /*早期浏览器*/
        user-select: none;
}
 /*a标签禁用样式*/
a .disable{background-color:#ccc;color:black;cursor: not-allowed; filter: alpha(opacity=50); -moz-opacity: 0.5;opacity: 0.5; text-decoration:none; /*透明度50%*/}

.col_md_20 {
    width: 200px;
}
.col_md_16 {
    width: 160px;
}
.col_md_12 {
    width: 120px;
}
.col_md_10 {
    width: 100px;
}
.col_md_6 {
    width: 60px;
}
.col_md_3 {
    width: 30px;
}
.col_md_2 {
    width: 20px;
}