
@{
    ViewBag.Title = "Module";

}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            @*全屏使用*@
            <div class="widget-header bordered-bottom bordered-sky " style="">
                <span class="widget-caption"><i class="fa fa-cogs"></i>&nbsp;菜单模块</span>
                <div class="widget-buttons">
                    <a href="#" id="fullscreen-toggler" class="fullscreen">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    @*<a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>*@
                </div>
            </div>
            <div class="widget-body no-padding">
                <div class="container-fluid">
                    <div class="row" style="padding:10px 0px;">
                        <div class="col-md-12">
                            <a class="btn btn-blue" href="javascript:void(0);"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                            <a class="btn btn-blue" href="javascript:void(0);"><i class="fa fa-plus"></i>&nbsp;新增</a>
                            <a class="btn btn-blue" href="javascript:void(0);"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                            <a class="btn btn-darkorange" href="javascript:void(0);"><i class="fa fa-delicious"></i>&nbsp;删除</a>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="row" style="padding:0px 10px;">
                        <table class="table table-bordered table-hover table-striped" id="searchable">
                            <thead class="">
                                @*bordered-blueberry*@
                                <tr role="row">
                                    <th>Rendering</th>
                                    <th>Browser</th>
                                    <th>Platform</th>
                                    <th>Engine</th>
                                    <th>CSS</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class="">Firefox 1.0</td>
                                    <td class="">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class="sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.0</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.7</td>
                                    <td class="center ">A</td>
                                </tr>
                                <tr>
                                    <td class=" sorting_1">Gecko</td>
                                    <td class=" ">Firefox 1.5</td>
                                    <td class=" ">Win 98+ / OSX.2+</td>
                                    <td class="center ">1.8</td>
                                    <td class="center ">A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        底部
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {

        $('#searchable').dataTable({
            //"sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
            "iDisplayLength": 10,
            "aLengthMenu": [[5, 10, 12, -1, 0], ['5', '10', '12', "所有", "0"] // change per page values here
            ],

            "bPaginate": true, //翻页功能
            "bLengthChange": true, //改变每页显示数据数量
            "bFilter": false, //过滤功能
            "bSort": false, //排序功能
            "bInfo": true,//页脚信息
            "bAutoWidth": true,//自动宽度
            "language": {
                //"search": "",
                "sInfo": "从第 _START_ 条到第 _END_ 条，总 _TOTAL_ 条",
                //"sLengthMenu": "_MENU_",
                "oPaginate": {
                    "sPrevious": "前一页",
                    "sNext": "下一页"
                }
            },
            "aoColumns": [
              { "bSortable": false },
              null,
              { "bSortable": false },
              null,
              { "bSortable": false }
            ],
            "aaSorting": []
        });
    })
</script>
